<h2>Mijn landen</h2>
<ul>
    <li *ngFor="let l of landen">
        <a routerLink="/detail/{{l.id}}">
            <span>{{l.id}}</span> {{l.name}}
        </a>
        <a class="btn" (click)="delete(l)">
            <fa-icon [icon]="faTrash"></fa-icon>
        </a>
    </li>
</ul>
<div>
    <form>
        <div class="form-group">
            <label>landnaam:
    <input class="form-control" [(ngModel)]="nieuwLand.name"
    name="landnaam" />
    </label>
        </div>
        <div class="form-group">
            <label>Aantal inwoners:
    <input type="number" class="form-control"
    [(ngModel)]="nieuwLand.inwoners" name="aantInwoners" />
    </label>
        </div>
        <button class="btn btn-primary" (click)="add()">
    add
    </button>
    </form>
</div>